<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Bệnh Viện Bình Dương | Home</title>
    <!-- Favicon  -->
    <link rel="icon" href="~/img/core-img/favicon.ico">
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/css/core-style.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/web-custom.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    
    @RenderBody()
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area section_padding_50 bg-default">
            <div class="container">
                <div class="row">
                    <div class="footer-logo custom col-12">
                        <img src="~/img/core-img/logo.png" alt="">
                        <h5>BỆNH VIỆN ĐA KHOA TỈNH BÌNH DƯƠNG</h5>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">

                            <div class="widget-contact">
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="~/img/icons/alarm-clock.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>Monday - Friday 08:00 - 21:00 <br>Saturday &amp; Sunday - CLOSED</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="~/img/icons/map-pin.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>Lamas Carbajal Str, no 14-18 <br>41770 Montellano</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="~/img/icons/envelope.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>0080 673 729 766 <br>contact@business.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-social-info">
                                <!-- <i href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> -->
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <!-- <i href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a> -->
                                <!-- <i href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a> -->
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="foot-quicklink">
                                <h6>Liên kết nhanh</h6>
                            </div>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Book an Appointment</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Partners</a></li>
                                <li><a href="#">Emergency Cases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-6">
                        <div class="footer-widget-area">
                            <!-- <iframe src="https://www.google.com/maps/d/embed?mid=11pmWTjQijqsPGpFaOaI6RFvcAPA" width="640" height="480"></iframe> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.594007706162!2d106.65353721533496!3d10.993985958145135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1139c433a35%3A0x73608c8f73191783!2zNSBQaOG6oW0gTmfhu41jIFRo4bqhY2gsIEhp4buHcCBUaMOgbmgsIFRo4bunIEThuqd1IE3hu5l0LCBCw6xuaCBExrDGoW5nLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1578672486858!5m2!1sen!2s"
                                    frameborder="0" style="border:0; width: 100%; height: 300px;;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="bottom-footer-content h-100 d-md-flex align-items-center justify-content-between">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <!-- Footer Menu -->
                            <div class="footer-menu">
                                <nav>
                                    <ul>
                                        <li><a href="#">TRANG CHỦ</a></li>
                                        <li><a href="#">GIỚI THIỆU</a></li>
                                        <li><a href="#">NGHIÊN CỨU KHOA HỌC</a></li>
                                        <li><a href="#">TIN TỨC - SỰ KIỆN</a></li>
                                        <li><a href="#">KHOA - PHÒNG CHỨC NĂNG</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- md video -->
    <div>
        <!-- model video -->

        <div class="modal mdvideo fade" id="video1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog videodl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">example modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4ZDqC5JHyFE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal mdvideo fade" id="video2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog videodl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">example modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jvevy0zW_-U?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal mdvideo fade" id="video3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog videodl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">example modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/a_G0Lp7s_kI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal mdvideo fade" id="video4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog videodl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">example modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iSGF4Q_5E5c?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        @*<script>
        $('.modal.mdvideo').on('hide.bs.modal', function () {
        var memory = $(this).html();
        $(this).html(memory);
        })
        </script>*@
    </div>
    <!-- ***** Footer Area End ***** -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
