
<div id="app">
    {{ message }}
</div>

<section class="hero-area" >
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide height-600 bg-img" style="background-image: url(../img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Dịch vụ y tế</h2>
                            <h5 data-animation="fadeInUp" data-delay="400ms">Hơn 300 chuyên gia</h5>
                            <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                <a href="#" class="btn medica-btn">Đặt lịch hẹn</a>
                                <a href="#" class="btn medica-btn ml-2 btn-2">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide height-600 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services</h2>
                            <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                            <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                <a href="#" class="btn medica-btn">Make an Appointment</a>
                                <a href="#" class="btn medica-btn ml-2 btn-2">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide height-600 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services</h2>
                            <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                            <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                <a href="#" class="btn medica-btn">Make an Appointment</a>
                                <a href="#" class="btn medica-btn ml-2 btn-2">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Info Area Start ***** -->
<div class="medica-contact-info-area">
    <!-- <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-contact-info d-flex align-items-center">
                    <div class="contact-icon mr-30">
                        <img src="img/icons/alarm-clock.png" alt="">
                    </div>
                    <div class="contact-meta">
                        <p>Thứ hai - Thứ bảy: 07:00 - 22:00 <br> Chủ nhật: 07:00 - 12:00</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-contact-info d-flex align-items-center">
                    <div class="contact-icon mr-30">
                        <img src="img/icons/envelope.png" alt="">
                    </div>
                    <div class="contact-meta">
                        <p>0080 673 729 766 | 0080 234 5678 900 <br> contact@benhvienbinhduong.org.vn</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-contact-info d-flex align-items-center">
                    <div class="contact-icon mr-30">
                        <img src="img/icons/map-pin.png" alt="">
                    </div>
                    <div class="contact-meta">
                        <p>5 Phạm Ngọc Thạch, Hiệp Thành, Thủ Dầu Một, Bình Dương.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- ***** Contact Info Area End ***** -->
<section class="medica-about-us-area">
    <div class="medica-card-area">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="medica-emergency-card wow fadeInUp" data-wow-delay="0.2s">
                        <h5>Khẩn cấp, hãy gọi</h5>
                        <h4>+84 908 808 808</h4>
                        <p>Tiền thân của Bệnh viện đa khoa tỉnh Bình Dương là Nhà thương Phú Cường xây dựng từ thời Pháp thuộc vào năm 1890. iền thân của Bệnh viện đa khoa tỉnh Bình Dương là Nhà thương Phú Cường xây dựng từ thời Pháp thuộc vào năm 1890.</p>
                        <!-- <a href="#">Đọc thêm</a> -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="medica-doctors-card wow fadeInUp" data-wow-delay="0.4s">
                        <h5>Hãy để chúng tôi phụ vụ khi bạn cần!</h5>
                        <p>
                            Qua các giai đoạn lịch sử, bệnh viện được mang những tên khác nhau: Bệnh viện Phú Cường (từ năm 1890 đến 30/04/1975), Bệnh viện Thủ Dầu Một (1975), Bệnh viện đa khoa tỉnh Sông Bé (1976), Bệnh viện đa khoa tỉnh Bình Dương (từ
                            năm 1997 đến nay).
                        </p>
                        <!-- <a href="#">Đọc thêm</a> -->
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="medica-appointment-card wow fadeInUp" data-wow-delay="0.6s">

                        <!-- <h5>Đặt lịch hẹn</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control text-white" name="name" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="number" id="number" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                            </div>
                            <button type="submit" class="btn medica-btn mt-15">Đặt lịch</button>
                        </form> -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="contact-icon mr-30">
                                <img src="img/icons/alarm-clock-w.png" alt="">
                            </div>
                            <div class="contact-meta">
                                <p>Thứ hai - Thứ bảy: 07:00 - 22:00 <br> Chủ nhật: 07:00 - 12:00</p>
                            </div>
                        </div>
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="contact-icon mr-30">
                                <img src="img/icons/envelope-w.png" alt="">
                            </div>
                            <div class="contact-meta">
                                <p>0903 888 999 <br> benhvienbinhduong@gmail.com</p>
                            </div>
                        </div>
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="contact-icon mr-30">
                                <img src="img/icons/map-pin-w.png" alt="">
                            </div>
                            <div class="contact-meta">
                                <p>5 Phạm Ngọc Thạch, Hiệp Thành, Thủ Dầu Một, Bình Dương.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Contact -->
    <div class="medica-about-content section_padding_70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="medica-about-text">
                        <h2><span class="gradient-background"> Bệnh viện Tỉnh Bình Dương</span> kính chào Quý khách! </h2>
                        <p>
                            Tiền thân của Bệnh viện đa khoa tỉnh Bình Dương là Nhà thương Phú Cường xây dựng từ thời Pháp thuộc vào năm 1890. Qua các giai đoạn lịch sử, bệnh viện được mang những tên khác nhau: Bệnh viện Phú Cường (từ năm 1890 đến 30/04/1975),
                            Bệnh viện Thủ Dầu Một (1975), Bệnh viện đa khoa tỉnh Sông Bé (1976), Bệnh viện đa khoa tỉnh Bình Dương (từ năm 1997 đến nay).
                        </p>
                        <h4>CHÚNG TÔI HOẠT ĐỘNG DỰA TRÊN NGUYÊN TẮC:</h4>
                        <ul>
                            <li>Cardiovascular Diseases</li>
                            <li>Neonatology</li>
                            <li>Ophthalmology</li>
                            <li>Toracic Surgery</li>
                            <li>Gastroenterology</li>
                            <li>Plastic Surgery</li>
                            <li>Neurology</li>
                            <li>Ortopedy</li>
                        </ul>
                        <!-- <a href="#" class="btn medica-btn btn-2">Đọc thêm</a> -->
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="medica-about-thumbnail">
                        <img src="img/bg-img/nguyen-thi-hong-huyen.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area Start ***** -->
<section class="medica-services-area section_padding_50 bg-img gradient-background-overlay" style="background-image: url(img/bg-img/service.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading white-heading">
                    <img src="img/icons/hospital2.png" alt="">
                    <h2>Dịch vụ của chúng tôi</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area wow fadeInUp" data-wow-delay="0.2s">
                    <img src="img/icons/hospital.png" alt="">
                    <h5>Cấp cứu ngoại viện</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area wow fadeInUp" data-wow-delay="0.3s">
                    <img src="img/icons/blood.png" alt="">
                    <h5>Hồi sức tim mạch</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area wow fadeInUp" data-wow-delay="0.4s">
                    <img src="img/icons/ambulance.png" alt="">
                    <h5>Phẫu thuật Tim mạch</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area wow fadeInUp" data-wow-delay="0.5s">
                    <img src="img/icons/nuclear.png" alt="">
                    <h5>Thông tim chẩn đoán & Can thiệp</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area wow fadeInUp" data-wow-delay="0.6s">
                    <img src="img/icons/emergency-call.png" alt="">
                    <h5>Khảo sát điện sinh lý</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="single-service-area">
                    <img src="img/icons/medicine.png" alt="">
                    <h5>Các gói khám & gói khám VIP</h5>
                    <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                </div>
            </div>

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.9s">
                <a href="#" class="btn medica-btn">Xem tất cả Dịch vụ</a>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->
<!-- ***** Doctors Area Start ***** -->
<section class="medica-doctors-area section_padding_70_20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading">
                    <img src="img/icons/doctor.png" alt="">
                    <h2>Đội ngũ Bác sĩ</h2>
                    <p>Phasellus at nunc orcidonec ipsum metus, pharetra quis nunc sit amet</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-doctor-area">
                    <div class="doctor-thumbnail">
                        <img src="img/bg-img/tranthingocchau.png" alt="">
                    </div>
                    <div class="doctor-meta">
                        <h5>Bs Nguyễn Thanh Phong</h5>
                        <h6>Cardiologist</h6>
                        <div class="doctor-social-info">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-doctor-area">
                    <div class="doctor-thumbnail">
                        <img src="img/bg-img/pham-cong-luan.jpg" alt="">
                    </div>
                    <div class="doctor-meta">
                        <h5>Bs Vũ Tánh</h5>
                        <h6>Plastic Surgeon</h6>
                        <div class="doctor-social-info">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-doctor-area">
                    <div class="doctor-thumbnail">
                        <img src="img/bg-img/n-t-bach-ly.jpg" alt="">
                    </div>
                    <div class="doctor-meta">
                        <h5>Bs Phạm Ngọc Thái </h5>
                        <h6>Pediatrist</h6>
                        <div class="doctor-social-info">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-doctor-area">
                    <div class="doctor-thumbnail">
                        <img src="img/bg-img/vo-trong-hao.png" alt="">
                    </div>
                    <div class="doctor-meta">
                        <h5>Bs Huỳnh Văn Nhị </h5>
                        <h6>General Practicioner</h6>
                        <div class="doctor-social-info">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Doctors Area End ***** -->
<!-- ***** Testimonials Area Start ***** -->
<section class="medica-testimonials-area section_padding_80 bg-img background-overlay videobg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading white-heading">
                    <img src="img/icons/video.png" alt="">
                    <h2>Videoc</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="video-testimonials" class="owl-carousel custom container">
        <div class="item">
            <div class="shadow-effect">
                <button type="button" class="btn-video" data-toggle="modal" data-target="#video1">
                    <img class="card-img-top" src="https://img.youtube.com/vi/4ZDqC5JHyFE/maxresdefault.jpg" alt="zdsg" />
                </button>
                <div class="item-details">
                    <h5>Chicken for two Roasted <span>$21</span></h5>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="shadow-effect">
                <button type="button" class="btn-video" data-toggle="modal" data-target="#video2">
                    <img class="card-img-top" src="https://img.youtube.com/vi/jvevy0zW_-U/maxresdefault.jpg" alt="zdsg" />
                </button>
                <div class="item-details">
                    <h5>Chicken for two Roasted <span>$21</span></h5>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="shadow-effect">
                <button type="button" class="btn-video" data-toggle="modal" data-target="#video3">
                    <img class="card-img-top" src="https://img.youtube.com/vi/a_G0Lp7s_kI/maxresdefault.jpg" alt="zdsg" />
                </button>
                <div class="item-details">
                    <h5>Chicken for two Roasted <span>$21</span></h5>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="shadow-effect">
                <button type="button" class="btn-video" data-toggle="modal" data-target="#video4">
                    <img class="card-img-top" src="https://img.youtube.com/vi/iSGF4Q_5E5c/maxresdefault.jpg" alt="zdsg" />
                </button>
                <div class="item-details">
                    <h5>Chicken for two Roasted <span>$21</span></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Area End ***** -->
<!-- ***** Appointment Area Start ***** -->
<section class="medica-book-an-appointment-area section_padding_100_0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="medica-appointment-card">
                    <h5>Đặt lịch hẹn</h5>
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control text-white" name="name" id="appointmentName" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <select class="form-control" id="speciality">
                                        <option>Speciality 1</option>
                                        <option>Speciality 2</option>
                                        <option>Speciality 3</option>
                                        <option>Speciality 4</option>
                                        <option>Speciality 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="number" id="appointmentNumber" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <select class="form-control" id="doctors">
                                        <option>Dr. Riyadh Khan</option>
                                        <option>Dr. Kumkum Rashid</option>
                                        <option>Dr. Lim Sarah</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="appointmentEmail" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <input type="date" class="form-control" name="date" id="date">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn medica-btn mt-15">Đặt lịch</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="medica-appointment-thumb">
                    <img src="img/bg-img/medical1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Appointment Area End ***** -->
<!-- news -->
<section class="medica-testimonials-area section_padding_50 bg-img">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading news">
                    <img src="img/icons/news.png" alt="">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single-blog-area">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="img/blog-img/n2_586x382.jpg" alt="">
                        <!-- Post Date -->
                        <div class="post-date">
                            <a href="#">Jan 05, 2020</a>
                        </div>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <h4>Các bệnh viện không để thiếu thuốc, máu, dịch truyền và trang thiết bị trong khám chữa bệnh dịp Tết Nguyên đán</h4>
                        <div class="post-meta mb-10 d-flex align-items-center">
                            <p class="author mb-0">Author:<a href="#"> Loredana Papp</a></p>
                        </div>
                        <p>
                            Các bệnh viện tăng cường chăm lo đời sống, tinh thần cán bộ nhân viên bệnh viện và cần lên phương án đảm bảo việc khám chữa bệnh trong dịp Tết không để thiếu thuốc, máu, dịch truyền và trang thiết bị trong khám chữa bệnh cũng
                            như trong cấp cứu.
                        </p>
                        <a href="#">Đọc chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="latest-news-widget-area px-0">
                    <div class="widget-blog-post">
                        <!-- Single Blog Post -->
                        <div class="widget-single-blog-post d-flex">
                            <div class="widget-post-thumbnail pr-2">
                                <img src="img/blog-img/n1_586x382.jpg" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#" class="text-default">Chiêu sinh các lớp CĐHA + Điện tâm đồ + Siêu âm thực hành 2019</a>
                                <p>Dec 02, 2017</p>
                            </div>
                        </div>
                        <!-- Single Blog Post -->
                        <div class="widget-single-blog-post d-flex">
                            <div class="widget-post-thumbnail pr-2">
                                <img src="img/blog-img/n2_586x382.jpg" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#">Quyết định kết quả LCNT Sinh phẩm 2019</a>
                                <p>Dec 02, 2017</p>
                            </div>
                        </div>
                        <!-- Single Blog Post -->
                        <div class="widget-single-blog-post d-flex">
                            <div class="widget-post-thumbnail pr-2">
                                <img src="img/blog-img/n1_586x382.jpg" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#">Bệnh viện đa khoa tỉnh Bình Dương đang có nhu cầu mua sắm trực tiếp một số Sinh phẩm y tế</a>
                                <p>Dec 02, 2017</p>
                            </div>
                        </div>
                        <!-- Single Blog Post -->
                        <div class="widget-single-blog-post d-flex">
                            <div class="widget-post-thumbnail pr-2">
                                <img src="img/blog-img/n2_586x382.jpg" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#">Quyết định kết quả LCNT Sinh phẩm 2019</a>
                                <p>Dec 02, 2017</p>
                            </div>
                        </div>
                        <div class="widget-single-blog-post d-flex">
                            <div class="widget-post-thumbnail pr-2">
                                <img src="img/blog-img/n1_586x382.jpg" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#" class="text-default">Chiêu sinh các lớp CĐHA + Điện tâm đồ + Siêu âm thực hành 2019</a>
                                <p>Dec 02, 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- news -->
<!-- ***** Partners Area Start ***** -->
<div class="medica-our-partners-area section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-partners-logo d-flex align-items-center justify-content-between">
                    <a href="#"><img src="img/partners-img/1.png" alt=""></a>
                    <a href="#"><img src="img/partners-img/2.png" alt=""></a>
                    <a href="#"><img src="img/partners-img/3.png" alt=""></a>
                    <a href="#"><img src="img/partners-img/4.png" alt=""></a>
                    <a href="#"><img src="img/partners-img/5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Partners Area End ***** -->

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
</script>