//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $red-damask;
$main-color-hover: $copper;
$main-mini-cart: $pancho;
$main-header-under2-color: $fiery-orange;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $smoke-tree;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 