//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $mantis;
$main-color-hover: $feijoa;
$main-mini-cart: $feijoa-bb;
$main-header-under2-color: $sushi;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $apple-7d;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 