//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $outrageous-orange;
$main-color-hover: $coral;
$main-mini-cart: $mona-lisa;
$main-header-under2-color: $orange-red-eb;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $orange-red-fe;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 