//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $port-gore;
$main-color-hover: $governor-bay;
$main-mini-cart: $chetwode-blue;
$main-header-under2-color: $lucky-point;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $bay-of-many;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 