//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $ruby;
$main-color-hover: $dark-pink;
$main-mini-cart: $mauvelous;
$main-header-under2-color: $cardinal;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $ruby-d6;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 