$alizarin:           #DF1F26;
$apple:              #5AB652;
$apple-7d:           #7DB53D;
$atomic-tangerine:   #FFA066;

$bay-of-many:        #313C62;

$bermuda:            #7ACCC8;
$bermuda-86:         #86D3C5;

$black:              #000000;
$black-0d:           #0D0D0D;
$black-1:            #111111;
$black-5:            #050505;

$bondi-blue:         #0285C0;
$burnt-sienna:       #EC6368;
$buttercup:          #E18620;

$brink-pink:         #FF638B;

$california:         #E49236;
$cardinal:           #BF134E;
$carnation-pink:     #FF96B1;
$carrot-orange:      #E99A2C;
$carrot-orange-e4:   #E48E18;
$casablanca:         #EEB05A;
$cerulean:           #0174A7;
$ce-soir:            #AA78AE;
$ce-soir-a0:         #A068A4;
$ce-soir-93:         #935B98;

$charcoal:           #444444;
$charcoal-3e:        #3E3E3E;

$chetwode-blue:      #6173B1;
$cherokee:           #F3C688;
$chocolate:          #CD8015;

$cinnabar:           #EA3A3C;
$cinnabar-e3:        #E34141;
$cinnabar-e4:        #E43636;
$cinnabar-e6:        #E6363C;
$cinnabar-e7:        #E74847;
$cinnabar-ea:        #EA373D;

$cloud-burst:        #323B4D;
$concrete:           #D7D7D5;
$coral:              #FE7D54;
$coral-red:          #FF393F;
$copper:             #D7906A;
$curious-blue:       #448CCB;

$dark-gray:          #AAAAAA;
$dark-gray-9d:       #9D9D9D;
$dark-gray-a1:       #A1A1A1;
$dark-gray-a3:       #A3A3A3;
$dark-gray-a4:       #A4A4A4;
$dark-gray-a8:       #A8A8A8;
$dark-gray-ad:       #ADADAD;
$dark-gray-b4:       #B4B4B4;
$dark-goldenrod:     #BC9B02;

$dark-red:           #870000;
$dark-pink:          #ED4B82;
$deep-lilac:         #A44EC4;
$deep-sky-blue:      #02A8F3;
$denim:              #1872BF;
$de-york:            #7CC576;

$dim-gray:           #666666;
$dim-gray-63:        #636363;
$dim-gray-68:        #686868;
$dim-gray-70:        #707070;
$dim-gray-72:        #727272;

$dodger-blue:        #2BBCFD;
$dodger-blue-26:     #0276F8;
$dodger-blue-30:     #30C0F5;

$eclipse:            #383838;
$emerald:            #4CBF8D;
$empress:            #737373;
$east-side:          #BE98C1;

$feijoa:             #A3CF6F;
$feijoa-bb:          #BBDC95;
$fire-brick:         #AD2323;
$fire-brick-9f:		 #9F1515;
$fire-brick-b2:      #B2191E;
$fire-engine-red:    #DE1E1D;
$fire-engine-red-cc: #CC1B1B;
$fire-engine-red-c9: #C91C22;
$fiery-orange:       #AC5A2F;
$falu-red:           #720F0F;
$falu-red-88:        #881212;
$flamingo:           #E64B51;

$gainsboro:          #DDDDDD;
$gainsboro-9:        #D9D9D9;
$gainsboro-d8:       #D8D8D8;
$gainsboro-db:       #DBDBDB;
$gainsboro-dc:       #DCDCDC;
$gainsboro-de:       #DEDEDE;
$gainsboro-df:       #DFDFDF;
$gainsboro-e0:       #E0E0E0;
$gainsboro-e1:       #E1E1E1;
$gainsboro-e2:       #E2E2E2;
$gainsboro-e4:       #E4E4E4;
$gainsboro-e5:       #E5E5E5;
$gainsboro-e6:       #E6E6E6;
$gainsboro-e8:       #E8E8E8;

$gamboge:            #F1940F;
$gold:               #FDD30D;
$golden-poppy:       #D5B002;
$gondola:            #363636;
$gossamer:           #399F73;
$gossamer-41:        #41B29E;
$governor-bay:       #4A5B95;
$gorse:              #FDDC40;

$grey:               #777777;
$grey-7b:            #7B7B7B;

$haiti:              #2C2B34;
$harvest-gold:       #EAAA63;
$hopbush:            #CF739A;

$ice-cold:           #ACE0D7;

$jordy-blue:         #7DACDA;

$light-grey:         #D0D0D0;
$light-grey-d4:      #D4D4D4;
$light-grey-d5:      #D5D5D5;
$light-grey-d6:      #D6D6D6;
$light-grey-d7:      #D7D7D7;

$light-sky-blue:     #79D6F8;
$light-coral:        #EC787C;
$lochmara:           #3072AC;
$lucky-point:        #283151;

$mariner:            #39599F;
$mariner-4a:         #4A65AA;
$marzipan:           #F0C390;

$mantis:             #8AC249;

$matter-horn:        #4E4E4E;
$maya-blue:          #5DCCFE;
$mauvelous:          #F17AA2;
$medium-aquamarine:  #61C5B3;
$mortar:             #555555;
$mona-lisa:          #FEA387;

$navy-blue:          #015EC6;

$neon-carrot:        #FF9944;
$neon-carrot-fb:     #FB9220;

$nero:               #222222;
$nero-24:            #242424;
$nero-27:            #272727;
$nero-25:            #252525;

$night-rider:        #333333;
$night-rider-2f:     #2F2F2F;

$nobel:              #999999;
$orange-red:         #FF4400;
$orange-red-eb:      #EB3901;
$orange-red-fe:      #FE4308;
$ochre:              #CC791B;
$outrageous-orange:  #FE5621;
$olive:              #A28602;

$pacific-blue:       #029CE1;
$pacific-blue-00:    #009DD3;
$pacific-blue-02:    #0297DA;
$pancho:             #E2AE92;

$pale-taupe:         #B59978;
$pelorous:           #3094BB;

$persian-red:        #C43031;
$persian-red-cb:     #CB2827;
$persimmon:          #E65600;

$puerto-rico:        #55BEB9;
$puerto-rico-4e:     #4EBEAA;
$prelude:            #D2B8D4;
$prussian-blue:      #012E60;
$prussian-blue-01:   #013A7A;
$port-gore:          #394673;
$pink:               #FFC9D7;

$radical-red:        #FF3065;
$red-orange:         #F44336;
$red-damask:         #CC7242;
$ruby:               #E81D62;
$ruby-d6:            #D61657;

$saffron:            #F8BC2E;
$sapphire:           #0C2761;
$shady-lady:         #969696;
$safety-orange:      #FF6000;

$silver:             #BBBBBB;
$silver-bc:          #BCBCBC;
$silver-bd:          #BDBDBD;
$silver-c3:          #C3C3C3;
$silver-c4:          #C4C4C4;
$silver-c0:          #C0C0C0;

$slate-grey:         #6B7496;
$sour-dough:         #C7B299;

$summer-sky:         #3CB7E7;
$summer-sky-23:      #23B1E3;
$summer-sky-3f:      #3F9DD3;
$summer-sky-45:      #45B0E3;
$summer-sky-50:      #50C1E9;

$sunglow:            #FFD741;

$suva-grey:          #888888;
$suva-grey-89:       #898989;
$suva-grey-90:       #909090;
$suva-grey-94:       #949494;

$sushi:              #70A236;

$smalt:              #014693;
$smoke-tree:         #C16534;

$tenne:              #C45000;
$tenne-cc:           #CC4D00;
$tomato:             #FE5454;
$torch-red:          #FE2121;
$tulip-tree:         #E5C13A;
$valhalla:           #252C3A;

$very-light-grey:    #CCCCCC;
$very-light-grey:    #C8C8C8;
$very-light-grey-c9: #C9C9C9;
$very-light-grey-cc: #CCCCCC;
$very-light-grey-d:  #CDCDCD;
$very-light-grey-e:  #CECECE;

$violet-blue:        #A864A8;
$violet-blue-8b:     #8B4E8B;

$white:              #FFFFFF;
$white-f5:           #F5F5F5;
$white-fa:           #FAFAFA;
$white-fc:           #FCFCFC;
$white-lilac:        #F8F8F9;

$white-smoke:        #EEEEEE;
$white-smoke-4:      #F4F4F4;
$white-smoke-6:      #F6F6F6;
$white-smoke-7:      #F7F7F7;
$white-smoke-e9:     #E9E9E9;
$white-smoke-ea:     #EAEAEA;
$white-smoke-eb:     #EBEBEB;
$white-smoke-ed:     #EDEDED;
$white-smoke-f0:     #F0F0F0;
$white-smoke-f1:     #F1F1F1;
$white-smoke-f2:     #F2F2F2;
$white-smoke-f3:     #F3F3F3;
$white-smoke-f4:     #F4F3F3;
$white-smoke-f5:     #F5F4F3;
$white-smoke-f8:     #F8F8F8;
$wild-watermelon:    #FF4A78;

$yellow-green:       #8DBE3F;
$yellow-orange:      #FFBB45;

$zorba:              #9C948F;