//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $fire-brick-9f;
$main-color-hover: $fire-engine-red-cc;
$main-mini-cart: $cinnabar-e4;
$main-header-under2-color: $falu-red;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $falu-red-88;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 