//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $deep-sky-blue;
$main-color-hover: $dodger-blue;
$main-mini-cart: $maya-blue;
$main-header-under2-color: $bondi-blue;
$main-menu-li-color: $charcoal;
$main-menu-countdown-minutes: $pacific-blue-02;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 