//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $medium-aquamarine;
$main-color-hover: $bermuda-86;
$main-mini-cart: $ice-cold;
$main-header-under2-color: $gossamer-41;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $puerto-rico-4e;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 