//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $ce-soir;
$main-color-hover: $east-side;
$main-mini-cart: $prelude;
$main-header-under2-color: $ce-soir-93;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $ce-soir-a0;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 