//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $california;
$main-color-hover: $harvest-gold;
$main-mini-cart: $marzipan;
$main-header-under2-color: $ochre;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $buttercup;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 