//------------------------ MAIN ------------------------ 
$main-font: Arial, Helvetica, sans-serif;
$main-font-size: 13px;
$main-color: $golden-poppy;
$main-color-hover: $gold;
$main-mini-cart: $gorse;
$main-header-under2-color: $olive;
$main-menu-li-color: $dim-gray;
$main-menu-countdown-minutes: $dark-goldenrod;
//------------------------------------------------------ 

//------------------------ BODY ------------------------ 
$body-font: $main-font;
$body-font-size: $main-font-size;
$body-color: $dim-gray;
$body-background: $white;
$body-a-color: $dim-gray;
//------------------------------------------------------ 